################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoApplication/.vs
/DemoApplication/packages/RestSharp.106.6.9
