################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoApplication/.vs
/DemoApplication/packages/RestSharp.106.6.9
/DemoApplication/packages/jQuery.UI.Combined.1.12.1/Tools
/DemoApplication/packages/jQuery.UI.Combined.1.12.1/jQuery.UI.Combined.1.12.1.nupkg
/DemoApplication/packages/jQuery.UI.Combined.1.12.1/.signature.p7s
/DemoApplication/packages/jQuery.UI.Combined.1.12.1/Content/Scripts
/DemoApplication/packages/jQuery.UI.Combined.1.12.1/Content/Content/themes/base
/DemoApplication/packages/jQuery.1.12.4/Tools
/DemoApplication/packages/jQuery.1.12.4
/DemoApplication/DemoApplication/Content/themes/base
