@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome Sports Fan!</h1>
    <p class="lead">Sports Admin is a free online tool that lets you track and manage Teams and Players.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sports</h2>
        <p>
            View a sport by sport breakdown of teams and players.
        </p>
        <p><a class="btn btn-default" href="/Sports/SportsList">View Sports</a></p>
    </div>
    <div class="col-md-4">
        <h2>Teams</h2>
        <p>View a team by team breakdown of what sport each team participates in and who their players are. Also create new teams!</p>
        <p><a class="btn btn-default" href="/Teams/TeamsList">View/Manage Teams</a></p>
    </div>
    <div class="col-md-4">
        <h2>Players</h2>
        <p>Coming Soon!</p>
    </div>
</div>